extensions:
  console: Kdyby\Console\DI\ConsoleExtension

decorator:
  Symfony\Component\Console\Command\Command:
    tags: [kdyby.console.command]

services:
  # commands
  - App\Model\Fixtures\DefaultData