extensions:
    recaptcha: Minetro\Forms\reCAPTCHA\ReCaptchaExtension

recaptcha:
    secretKey: 6LdOoBkTAAAAAK5vuX56DGSzC-FjwOykZzCyl56S
    siteKey: 6LdOoBkTAAAAAIng2AbxFBxgoe5riNb4cxqESxrW

services:
    #- Minetro\Forms\reCAPTCHA\IReCaptchaValidatorFactory
#    -
#        class: Minetro\Forms\reCAPTCHA\ReCaptchaValidator
#        implement: Minetro\Forms\reCAPTCHA\IReCaptchaValidatorFactory
#        arguments: [%recaptcha.secretKey%]