webloader:
  css:
    collegeGreen:
      remoteFiles:
        - 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'
      files:
        - modules/front/college-green/bower_components/bootstrap/dist/css/bootstrap.css
        - modules/front/college-green/bower_components/font-awesome/css/font-awesome.min.css
        - modules/front/college-green/bower_components/flexslider/flexslider.css
        - modules/front/college-green/bower_components/blueimp-gallery/css/blueimp-gallery.min.css
        - modules/front/college-green/bower_components/blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.min.css
        - modules/front/college-green/bower_components/font-awesome/css/font-awesome.min.css
        - modules/front/college-green/css/style.scss

      filters:
        - @cssMin
      fileFilters:
        - @wlCssFilter
        - @sassFilter


  js:
    collegeGreen:
      remoteFiles:
        - https://www.google.com/recaptcha/api.js
      files:
        - modules/front/college-green/bower_components/jquery/dist/jquery.min.js
        - modules/front/college-green/bower_components/nette-forms/src/assets/netteForms.js
        - modules/front/college-green/bower_components/nette.ajax.js/nette.ajax.js
        - modules/front/college-green/bower_components/flexslider/jquery.flexslider-min.js
        - modules/front/college-green/bower_components/blueimp-gallery/js/jquery.blueimp-gallery.min.js
        - modules/front/college-green/bower_components/blueimp-bootstrap-image-gallery/js/bootstrap-image-gallery.min.js
        - modules/front/college-green/js/back-to-top.js
        - modules/front/college-green/js/tools.js
        - modules/front/college-green/js/base64.js
        - modules/front/js/mailprotector.js

        # Bootstrap
        - modules/front/college-green/bower_components/bootstrap/dist/js/bootstrap.min.js
        - modules/front/college-green/bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js
        - modules/front/college-green/bower_components/jquery-placeholder/jquery.placeholder.min.js

        - modules/front/college-green/js/main.js