extensions:
  webloader: WebLoader\Nette\Extension

parameters:
  webloaderDir: %appDir%/../www/templates

services:
  wlCssFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
  sassFilter: WebLoader\Filter\ScssFilter
  cssMin: Joseki\Webloader\CssMinFilter
  jsMin: Joseki\Webloader\JsMinFilter

webloader:
  cssDefaults:
    sourceDir: %webloaderDir%
    tempDir: %webloaderDir%/webtemp
  jsDefaults:
    sourceDir: %webloaderDir%
    tempDir: %webloaderDir%/webtemp
