extensions:
  webloader: WebLoader\Nette\Extension

parameters:
  webloaderDir: %appDir%/../www/assets

services:
    wlCssFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
    sassFilter: WebLoader\Filter\ScssFilter
    jwlCssMinFilter: Joseki\Webloader\CssMinFilter


webloader:
  cssDefaults:
    sourceDir: %webloaderDir%
    tempDir: %wwwDir%/webtemp
  jsDefaults:
    sourceDir: %webloaderDir%
    tempDir: %wwwDir%/webtemp
