parameters:
    database:
        host: localhost
        port: 3306
        user: 'DATABASE_USER'
        password: 'DATABASE_PASSWORD'
        dbname: 'DATABASE_NAME'
        driver: pdo_mysql  # or pdo_pgsql for PostgreSQL
