<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Artificial Reason</title>

    <link rel="shortcut icon" href="assets/img/favicon.png" />

    <meta name="description" content="">

    <!-- CSS -->
    <link href="assets/css/preload.css" rel="stylesheet">

    <!-- Compiled in vendors.js -->
    <!--
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/animate.min.css" rel="stylesheet">
    <link href="assets/css/slidebars.min.css" rel="stylesheet">
    <link href="assets/css/lightbox.css" rel="stylesheet">
    <link href="assets/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="assets/css/buttons.css" rel="stylesheet">
    -->

    <link href="assets/css/vendors.css" rel="stylesheet">
    <link href="assets/css/syntaxhighlighter/shCore.css" rel="stylesheet" >

    <!-- RS5.0 Stylesheet -->
    <!--<link rel="stylesheet" type="text/css" href="assets/css/settings.css">
    <link rel="stylesheet" type="text/css" href="assets/css/layers.css">
    <link rel="stylesheet" type="text/css" href="assets/css/navigation.css">-->

    <link href="assets/css/style-blue.css" rel="stylesheet" title="default">
    <link href="assets/css/width-full.css" rel="stylesheet" title="default">



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<body>
<div id="agm-configurator">
    <div id="agm-configurator-content">
        <div class="panel-group" id="accordion-conf" role="tablist" aria-multiselectable="true">
            <!-- collapse panel -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <a role="button" data-toggle="collapse" data-parent="#accordion-conf" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                        Color Selector
                    </a>
                </div>
                <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="color-options">
                            <a href="javascript:void(0);" rel="style-blue.css" class="color-box color-blue">blue</a>
                            <a href="javascript:void(0);" rel="style-blue2.css" class="color-box color-blue2">blue2</a>
                            <a href="javascript:void(0);" rel="style-blue3.css" class="color-box color-blue3">blue3</a>
                            <a href="javascript:void(0);" rel="style-blue4.css" class="color-box color-blue4">blue4</a>
                            <a href="javascript:void(0);" rel="style-blue5.css" class="color-box color-blue5">blue5</a>
                            <a href="javascript:void(0);" rel="style-green.css" class="color-box color-green">green</a>
                            <a href="javascript:void(0);" rel="style-green2.css" class="color-box color-green2">green2</a>
                            <a href="javascript:void(0);" rel="style-green3.css" class="color-box color-green3">green3</a>
                            <a href="javascript:void(0);" rel="style-green4.css" class="color-box color-green4">green4</a>
                            <a href="javascript:void(0);" rel="style-green5.css" class="color-box color-green5">green5</a>
                            <a href="javascript:void(0);" rel="style-red.css" class="color-box color-red">red</a>
                            <a href="javascript:void(0);" rel="style-red2.css" class="color-box color-red2">red2</a>
                            <a href="javascript:void(0);" rel="style-red3.css" class="color-box color-red3">red3</a>
                            <a href="javascript:void(0);" rel="style-fuchsia.css" class="color-box color-fuchsia">fuchsia</a>
                            <a href="javascript:void(0);" rel="style-pink.css" class="color-box color-pink">pink</a>
                            <a href="javascript:void(0);" rel="style-yellow.css" class="color-box color-yellow">yellow</a>
                            <a href="javascript:void(0);" rel="style-yellow2.css" class="color-box color-yellow2">yellow2</a>
                            <a href="javascript:void(0);" rel="style-orange.css" class="color-box color-orange">orange</a>
                            <a href="javascript:void(0);" rel="style-orange2.css" class="color-box color-orange2">orange2</a>
                            <a href="javascript:void(0);" rel="style-orange3.css" class="color-box color-orange3">orange3</a>
                            <a href="javascript:void(0);" rel="style-violet.css" class="color-box color-violet">violet</a>
                            <a href="javascript:void(0);" rel="style-violet2.css" class="color-box color-violet2">violet2</a>
                            <a href="javascript:void(0);" rel="style-violet3.css" class="color-box color-violet3">violet3</a>
                            <a href="javascript:void(0);" rel="style-aqua.css" class="color-box color-aqua">aqua</a>
                            <a href="javascript:void(0);" rel="style-gray.css" class="color-box color-gray">gray</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- collapse panel -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <a role="button" data-toggle="collapse" data-parent="#accordion-conf" href="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2" class="collapsed">
                        Header Options
                    </a>
                </div>
                <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <h5>Header Style</h5>
                        <form id="header-option">
                            <div class="radio radio-dark">
                                <input type="radio" name="headerRadio" id="header-full-radio" value="header-full" checked>
                                <label for="header-full-radio">Light Header</label>
                            </div>
                            <div class="radio radio-dark">
                                <input type="radio" name="headerRadio" id="header-full-dark-radio" value="header-full-dark">
                                <label for="header-full-dark-radio">Dark Header</label>
                            </div>
                            <div class="radio radio-dark">
                                <input type="radio" name="headerRadio" id="no-header-radio" value="no-header">
                                <label for="no-header-radio">No Header (Navbar mode)</label>
                            </div>
                        </form>
                        <h5>Navbar Color</h5>
                        <form id="navbar-option">
                            <div class="radio radio-dark">
                                <input type="radio" name="navbarRadio" id="navbar-light-radio" value="navbar-light">
                                <label for="navbar-light-radio">Light Color</label>
                            </div>
                            <div class="radio radio-dark">
                                <input type="radio" name="navbarRadio" id="navbar-dark-radio" value="navbar-dark" checked>
                                <label for="navbar-dark-radio">Dark Color</label>
                            </div>
                            <div class="radio radio-dark">
                                <input type="radio" name="navbarRadio" id="navbar-inverse-radio" value="navbar-inverse">
                                <label for="navbar-inverse-radio">Primary Color</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- collapse panel -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <a role="button" data-toggle="collapse" data-parent="#accordion-conf" href="#collapseThree3" aria-expanded="true" aria-controls="collapseThree3" class="collapsed">
                        Container Options
                    </a>
                </div>
                <div id="collapseThree3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <form id="container-option">
                            <div class="radio radio-dark">
                                <input type="radio" name="containerRadio" id="width-boxed-radio" value="width-boxed">
                                <label for="width-boxed-radio">Boxed Container</label>
                            </div>
                            <div class="radio radio-dark">
                                <input type="radio" name="containerRadio" id="width-full-radio" value="width-full" checked>
                                <label for="width-full-radio">Full Width Container</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="agm-configurator-button">
        <button type="button" name="button" id="agm-configurator-btn"><i class="fa fa-gear"></i></button>
    </div>
</div>
<div class="sb-site-container">
<div class="boxed">

<header id="header-full-top" class="hidden-xs header-full">
    <div class="container">
        <div class="header-full-title">
            <h1 class="animated fadeInRight"><a href="index.html">artificial <span>reason</span></a></h1>
            <p class="animated fadeInRight">Clean and elegant theme</p>
        </div>
        <nav class="top-nav">
            <ul class="top-nav-social hidden-sm">
                <li><a href="#" class="animated fadeIn animation-delay-6 rss"><i class="fa fa-rss"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-9 google-plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-9 instagram"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-8 vine"><i class="fa fa-vine"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-7 linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-6 flickr"><i class="fa fa-flickr"></i></a></li>
            </ul>

            <div class="dropdown animated fadeInDown animation-delay-11">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Login</a>
                <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated flipCenter">
                    <form role="form">
                        <h4>Login Form</h4>

                        <div class="form-group">
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <br>
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="checkbox pull-left">
                                  <input type="checkbox" id="checkbox_remember1">
                                  <label for="checkbox_remember1">
                                     Remember me
                                  </label>
                            </div>
                            <button type="submit" class="btn btn-ar btn-primary pull-right">Login</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div> <!-- dropdown -->

            <div class="dropdown animated fadeInDown animation-delay-13">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-search-box animated fadeInUp">
                    <form role="form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-ar btn-primary" type="button">Go!</button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div> <!-- dropdown -->
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->
<nav class="navbar navbar-default navbar-header-full navbar-dark yamm navbar-static-top" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="index.html">Artificial <span>Reason</span></a>
        </div> <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="pull-right">
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Home</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="index.html">New Default Home <span class="label label-success pull-right">New</span></a></li>
                        <li><a href="index_old.html">Option 1: Old Home</a></li>
                        <li><a href="home_services.html">Option 2: Services</a></li>
                        <li><a href="home_full.html">Option 3: Full Intro</a></li>
                        <li><a href="home_only_full.html">Option 4: Only Full Intro</a></li>
                        <li><a href="home_news.html">Option 5: News</a></li>
                        <li><a href="home_profile.html">Option 6: Professional Profile</a></li>
                        <li><a href="home_plan.html">Option 7: Subscribe</a></li>
                        <li role="presentation" class="dropdown-header">New Home Pages 1.4</li>
                        <li><a href="home_polygon.html">Option 8: Product <span class="label label-success pull-right">New</span></a></li>
                    </ul>
                </li>
                <li class="dropdown yamm-fw">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">UI Elements</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-megamenu">
                                        <div class="megamenu-block">
                                            <h4 class="megamenu-block-title"><i class="fa fa-css3"></i> CSS</h4>
                                            <ul>
                                                <li><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                                                <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                                                <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                                                <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                                                <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                                                <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                                            </ul>
                                        </div>
                                        <div class="megamenu-block">
                                            <h4 class="megamenu-block-title"><i class="fa fa-hand-o-up"></i> Buttons</h4>
                                            <ul>
                                                <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                                                <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library <span class="label label-info pull-right">Update</span></a></li>
                                                <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-megamenu">
                                        <div class="megamenu-block">
                                            <h4 class="megamenu-block-title"><i class="fa fa-hand-o-up"></i> Icons</h4>
                                            <ul>
                                                <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                                                <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                                                <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                                                <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                                            </ul>
                                        </div>
                                        <div class="megamenu-block">
                                            <h4 class="megamenu-block-title"><i class="fa fa-star"></i> New in 1.4</h4>
                                            <ul>
                                                <li><a href="components_cards.html"><i class="fa fa-user"></i> Profile Cards <span class="label label-success pull-right">New</span></a></li>
                                                <li><a href="components_counters.html"><i class="fa fa-sort-numeric-asc"></i> Counters <span class="label label-success pull-right">New</span></a></li>
                                                <li><a href="components_navtabs.html"><i class="fa fa-columns"></i> Navbar Tabs <span class="label label-success pull-right">New</span></a></li>
                                                <li><a href="components_masonry.html"><i class="fa fa-th"></i> Masonry Layer <span class="label label-success pull-right">New</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-megamenu">
                                        <div class="megamenu-block">
                                            <h4 class="megamenu-block-title"><i class="fa fa-list-alt"></i> Components</h4>
                                            <ul>
                                                <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                                                <li><a href="components_panels.html"><i class="fa fa-columns"></i> Panels</a></li>
                                                <li><a href="components_lists.html"><i class="fa fa-list-ul"></i> Lists</a></li>
                                                <li><a href="components_paginations.html"><i class="fa fa-sort-numeric-asc"></i> Paginations</a></li>
                                                <li><a href="components_labels_badges.html"><i class="fa fa-flag-o"></i> Labels and Badges</a></li>
                                                <li><a href="components_alerts_wells.html"><i class="fa fa-info-circle"></i> Alerts and Wells</a></li>
                                                <li><a href="components_thumbnails.html"><i class="fa fa-picture-o"></i> Thumbnails</a></li>
                                                <li><a href="components_modals.html"><i class="fa fa-square"></i> Modals</a></li>
                                                <li><a href="components_progress_bars.html"><i class="fa fa-bars"></i> Progress Bars</a></li>
                                                <li><a href="components_tooltip_popover.html"><i class="fa fa-bullhorn"></i> Tooltip &amp; Popover</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-6 col-megamenu">
                                        <div class="megamenu-block">
                                            <h4 class="megamenu-block-title"><i class="fa fa-flag"></i> Extra Elements</h4>
                                            <ul>
                                                <li><a href="collapses_tabs.html"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                                                <li><a href="components_vertical_tabs.html"><i class="fa fa-tasks"></i> Vertical Tabs <span class="label label-success pull-right">New</span></a></li>
                                                <li><a href="components_switch.html"><i class="fa fa-toggle-on"></i> Switch Controls <span class="label label-success pull-right">New</span></a></li>
                                                <li><a href="content_box.html"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                                                <li><a href="carousels.html"><i class="fa fa-play-circle"></i> Carousels</a></li>
                                                <li><a href="charts.html"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
                                                <li><a href="components_masonry.html"><i class="fa fa-th"></i> Masonry Layer <span class="label label-success pull-right">New</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Pages</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">About us &amp; Team</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_about.html">About us Option 1</a></li>
                                <li><a href="page_about2.html">About us Option 2</a></li>
                                <li><a href="page_about3.html">About us &amp; Team</a></li>
                                <li class="divider"></li>
                                <li><a href="page_team.html">Our Team Option 1</a></li>
                                <li><a href="page_team2.html">Our Team Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Form</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_contact.html">Contact Option 1</a></li>
                                <li><a href="page_contact2.html">Contact Option 2</a></li>
                                <li class="divider"></li>
                                <li><a href="page_login.html">Login Integrated</a></li>
                                <li><a href="page_login_full.html">Login Full Page</a></li>
                                <li class="divider"></li>
                                <li><a href="page_login_register.html">Login and Register</a></li>
                                <li><a href="page_register.html">Register Option 1</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Profiles</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_profile.html">User Profile Option 1</a></li>
                                <li><a href="page_profile2.html">User Profile Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Error</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_404.html">Error 404 Full Page</a></li>
                                <li><a href="page_404_2.html">Error 404 Integrated</a></li>
                                <li><a href="page_500.html">Error 500 Full Page</a></li>
                                <li><a href="page_500_2.html">Error 500 Integrated</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Bussiness &amp; Products</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_testimonial.html">Testimonials</a></li>
                                <li><a href="page_clients.html">Our Clients</a></li>
                                <li><a href="page_product.html">Products</a></li>
                                <li><a href="page_services.html">Services</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Pricing</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_pricing.html">Pricing Box</a></li>
                                <li><a href="page_pricing-mega.html">Pricing Mega Table</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">FAQ &amp; Support</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_support.html">Support Center</a></li>
                                <li><a href="page_faq.html">FAQ Option 1</a></li>
                                <li><a href="page_faq2.html">FAQ Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Coming Soon</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_coming.html">Coming Soon Option 1</a></li>
                                <li><a href="page_coming2.html">Coming Soon Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Timeline</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_timeline_left.html">Timeline Left</a></li>
                                <li><a href="page_timeline.html">Timeline Center</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Blog</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="blog.html">Blog Right Sidebar</a></li>
                        <li><a href="blog_left.html">Blog Left Sidebar</a></li>
                        <li><a href="blog_full.html">Blog Full</a></li>
                        <li><a href="blog_masonry.html">Blog Masonry <span class="label label-success pull-right">New</span></a></li>
                        <li><a href="blog2.html">Other Option</a></li>
                        <li class="divider"></li>
                        <li><a href="single.html">Blog Item</a></li>
                        <li><a href="single_full.html">Blog Item Full</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">E-commerce</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="e-commerce_home.html">E-commerce Home</a></li>
                        <li><a href="e-commerce.html">E-commerce Filters</a></li>
                        <li><a href="e-commerce_product.html">Product</a></li>
                        <li><a href="e-commerce_cart.html">Cart</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Portfolio</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="portfolio_sidebar.html">Portfolio sidebar filters</a></li>
                        <li><a href="portfolio_topbar.html">Portfolio topbar filters</a></li>
                        <li><a href="portfolio_caption_hover.html">Portfolio with captions</a></li>
                        <li class="divider"></li>
                        <li><a href="portfolio_item.html">Portfolio item</a></li>
                        <li><a href="portfolio_item_devices.html">Portfolio item device</a></li>
                    </ul>
                </li>
             </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Contact Option 1</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Pages</a></li>
            <li><a href="#">Form</a></li>
            <li class="active">Contact Option 1</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-title no-margin-top">Send Message</h2>
        </div>
        <div class="col-md-8">
            <section>
                <p>Lorem ipsum Ex aliqua tempor nisi laboris dolor id laborum irure minim tempor in sit dolore amet sit esse nostrud tempor nulla consequat aute in nostrud laboris sint ullamco amet nisi pariatur officia nulla pariatur in id et labore dolore ad sit.</p>

                <form role="form">
                    <div class="form-group">
                        <label for="InputName">Name</label>
                        <input type="email" class="form-control" id="InputName">
                    </div>
                    <div class="form-group">
                        <label for="InputEmail1">Email address</label>
                        <input type="email" class="form-control" id="InputEmail1">
                    </div>
                    <div class="form-group">
                        <label for="InputMessage">Mesagge</label>
                        <textarea class="form-control" id="InputMessage" rows="8"></textarea>
                    </div>
                    <button type="submit" class="btn btn-ar btn-primary">Submit</button>
                    <div class="clearfix"></div>
                </form>
            </section>
        </div>

        <div class="col-md-4">
            <section>
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-envelope-o"></i> Additional Information</div>
                    <div class="panel-body">
                        <h4 class="section-title no-margin-top">Contacts</h4>
                        <address>
                            <strong>Open Mind, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890 <br>
                            Mail: <a href="#">support@openmid.com</a>
                        </address>

                        <!-- Business Hours -->
                        <h4 class="section-title no-margin-top">Business Hours</h4>
                        <ul class="list-unstyled">
                            <li><strong>Monday-Friday:</strong> 9am to 7pm</li>
                            <li><strong>Saturday:</strong> 9am to 2pm</li>
                            <li><strong>Sunday:</strong> Closed</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <hr class="dotted">

    <section>
        <div class="well well-sm">
            <iframe width="100%" height="350" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=central%2Bpark&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe>
        </div>
    </section>
</div> <!-- container -->

<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled three_cols">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="portfolio_sidebar.html">Portafolio</a></li>
                    <li><a href="portfolio_topvar.html">Works</a></li>
                    <li><a href="page_timeline_left.html">Timeline</a></li>
                    <li><a href="page_pricing.html">Pricing</a></li>
                    <li><a href="page_about2.html">About Us</a></li>
                    <li><a href="page_team.html">Our Team</a></li>
                    <li><a href="page_services.html">Services</a></li>
                    <li><a href="page_support.html">FAQ</a></li>
                    <li><a href="page_login_full.html">Login</a></li>
                    <li><a href="page_contact.html">Contact</a></li>
                </ul>
                <h3 class="footer-widget-title">Subscribe</h3>
                <p>Lorem ipsum Amet fugiat elit nisi anim mollit minim labore ut esse Duis ullamco ad dolor veniam velit.</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email Adress">
                    <span class="input-group-btn">
                        <button class="btn btn-ar btn-primary" type="button">Subscribe</button>
                    </span>
                </div><!-- /input-group -->
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Recent Post</h3>
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="assets/img/demo/m2.jpg" width="75" height="75" alt="image"></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Lorem ipsum Duis quis occaecat minim lorem ipsum tempor officia labor</a></h4>
                            <small>August 18, 2013</small>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="assets/img/demo/m11.jpg" width="75" height="75" alt="image"></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Lorem ipsum dolor excepteur sunt in lorem ipsum cillum tempor</a></h4>
                            <small>September 14, 2013</small>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="assets/img/demo/m4.jpg" width="75" height="75" alt="image"></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Lorem ipsum Dolor cupidatat minim adipisicing et fugiat</a></h4>
                            <small>October 9, 2013</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Recent Works</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="assets/img/demo/wf1.jpg" class="img-responsive" alt="Image"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="assets/img/demo/wf2.jpg" class="img-responsive" alt="Image"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="assets/img/demo/wf3.jpg" class="img-responsive" alt="Image"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="assets/img/demo/wf4.jpg" class="img-responsive" alt="Image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
<footer id="footer">
    <p>&copy; 2014 <a href="#">Artificial Reason</a>, inc. All rights reserved.</p>
</footer>

</div> <!-- boxed -->
</div> <!-- sb-site -->

<div class="sb-slidebar sb-right sb-style-overlay">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
    </div><!-- /input-group -->

    <h2 class="slidebar-header no-margin-bottom">Navigation</h2>
    <ul class="slidebar-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="portfolio_topbar.html">Portfolio</a></li>
        <li><a href="page_about3.html">About us</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="page_contact.html">Contact</a></li>
    </ul>

    <h2 class="slidebar-header">Social Media</h2>
    <div class="slidebar-social-icons">
        <a href="#" class="social-icon-ar rss"><i class="fa fa-rss"></i></a>
        <a href="#" class="social-icon-ar facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="social-icon-ar twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social-icon-ar pinterest"><i class="fa fa-pinterest"></i></a>
        <a href="#" class="social-icon-ar instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="social-icon-ar wordpress"><i class="fa fa-wordpress"></i></a>
        <a href="#" class="social-icon-ar linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="social-icon-ar flickr"><i class="fa fa-flickr"></i></a>
        <a href="#" class="social-icon-ar vine"><i class="fa fa-vine"></i></a>
        <a href="#" class="social-icon-ar dribbble"><i class="fa fa-dribbble"></i></a>
    </div>
</div> <!-- sb-slidebar sb-right -->
<div id="back-top">
    <a href="#header"><i class="fa fa-chevron-up"></i></a>
</div>

<!-- Scripts -->
<!-- Compiled in vendors.js -->
<!--
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.cookie.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-switch.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/slidebars.min.js"></script>
<script src="assets/js/jquery.bxslider.min.js"></script>
<script src="assets/js/holder.js"></script>
<script src="assets/js/buttons.js"></script>
<script src="assets/js/jquery.mixitup.min.js"></script>
<script src="assets/js/circles.min.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<script src="assets/js/jquery.matchHeight-min.js"></script>
-->

<script src="assets/js/vendors.js"></script>

<!--<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>-->


<script src="assets/js/styleswitcher.js"></script>

<!-- Syntaxhighlighter -->
<script src="assets/js/syntaxhighlighter/shCore.js"></script>
<script src="assets/js/syntaxhighlighter/shBrushXml.js"></script>
<script src="assets/js/syntaxhighlighter/shBrushJScript.js"></script>

<script src="assets/js/DropdownHover.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/holder.js"></script>

</body>

</html>
