{layout @layout.latte}
{define content}
    Someone requested password reset for user {$email} on server {$domain}, fallow this <a n:href="//Sign:passwordReset, hash => $hash">link</a> to proceed.
{/define}
