/* 
    Created on : 21.4.2015, 22:09:01
    Author     : Adam Schubert <adam.schubert@sg1-game.net>
*/

/*** Swatches ***/

/** Colors **/

/* Gray */
$ivtimuno-gray-color: #dae4e9;
$ivtimuno-gray-dark-color: #d6e0e5;
$ivtimuno-gray-dark-dark-color: #77787b;

/* Red */
$ivtimuno-red-color: #ed1c24;
$ivtimuno-red-light-color: #ff7373;

/* Green */
$ivtimuno-green-color: #7ece00;
$ivtimuno-green-light-color: #99cf8e;
$ivtimuno-green-dark-light-color: #64c4aa;

/* Orange */
$ivtimuno-orange-dark-light-color: #f9a45e;
$ivtimuno-orange-dark-color: #f58220;
$ivtimuno-orange-light-color: #fdbe64;

/* Black */
$ivtimuno-black-color: #0c0c0c;

/* Blue */
$ivtimuno-blue-color: #1f5b70;
$ivtimuno-blue-dark-color: #638899;
$ivtimuno-blue-dark-dark-color: #496372;

/* Success */
$cvc-success-color: #5cb85c;

$cvc-success-dark-color: #177F17;
